<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
	...oout and aboot!
	<hr>
	The <a href="http://www.pa.ucla.edu">Rails Tutorial</a>
	is a project to make a book of screencasts to teach web development.
	<br>
	<hr>

</p>
