<footer class="footer">
	<small>
		<a href="www.pa.ucla.edu">Rails Tutorial</a> by Meeeee...
	</small>

	<nav>
	<ul>
		<li><%= link_to "About",  about_path %></li>
		<li><%= link_to "Contact", contact_path %></li>
		<li><a href="http://computing.pa.ucla.edu">News</a></li>
	</ul>
	</nav>
</footer>

